*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}


a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
}




.contenedor__slider{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.contenedor{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardds{
    position: relative;
    width: 100%;
    height: 100%;
}

.cardd{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

label img{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}


#item-2:checked ~ .cardds #selector-1,
#item-1:checked ~ .cardds #selector-3,
#item-3:checked ~ .cardds #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cardds #selector-1,
#item-1:checked ~ .cardds #selector-2,
#item-2:checked ~ .cardds #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cardds #selector-1,
#item-2:checked ~ .cardds #selector-2,
#item-3:checked ~ .cardds #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}



/* Start Preloader */
.hidden {
    overflow: hidden;
}

.centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #fff;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #76d1ff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
/* End Preloader */


/* boton de whatsapp */
.appWhatssapp {
    position: fixed;
    right: 26px;
    bottom: 100px;
    width: 21px;
    z-index: 1000;
    font-size: 3rem;
    color: #00bb2d;
}

.appWhatssapp:hover {
    color: #76d1ff;
}

/*fin boton de whatsapp  */

/*Iniciio FOOTER*/
ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    position: relative;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #76d1ff;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #010101;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #151515;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-social-icon span {
    color: #fff;
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

a {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

.footer .widget1 p {
    font-size: 16px;
    color: rgba(255, 255, 255, .6);
}

.footer .socialLinks {
    margin-top: 28px;
}

.socialLinks ul li {
    display: inline-block;
}


.socialLinks ul li a i {
    display: block;
    margin: 0 2px;
    width: 40px;
    height: 40px;
    background: #fafafa;
    border-radius: 50%;
    text-align: center;
    margin-right: 5px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.socialLinks ul li a .fa-facebook-f {
    font-size: 30px;
    font-weight: bold;
    color: #4267b2;
}

.socialLinks ul li a .fa-instagram {
    font-size: 30px;
    font-weight: bold;
    color: #833AB4;
}


.socialLinks ul li a .fa-whatsapp {
    font-size: 30px;
    font-weight: bold;
    color: #00bb2d;
}


.socialLinks ul li a:hover i {
    color: #fff;
}

.socialLinks ul li a:hover .fa-facebook-f {
    background: #4267b2;
}

.socialLinks ul li a:hover .fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}


.socialLinks ul li a:hover .fa-whatsapp {
    background: #00bb2d;
}


.footer-widget-heading h3 {
    color: #010101;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}

.footer-widget-heading h3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #76d1ff;
}

.footer-widget ul li {
    width: 50%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #76d1ff;
}

.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.subscribe-form {
    position: relative;
    overflow: hidden;
}

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: #cccccc;
    border: 1px solid #a7a7a7;
    color: #fff;
}

.subscribe-form button {
    position: absolute;
    right: 0;
    background: #76d1ff;
    padding: 13px 20px;
    border: 1px solid #76d1ff;
    top: 0;
}

.subscribe-form button i {
    color: #fff;
    font-size: 22px;
    transform: rotate(-6deg);
}

.copyright-area {
    background: #202020;
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}

.copyright-text p a {
    color: #76d1ff;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #76d1ff;
}

.footer-menu li a {
    font-size: 14px;
    color: #878787;
}